
<div class="bags-container">
    <div *ngFor="let item of bags" class="bags-card">
      <!-- Image de l'article -->
      <div class="card-image">
        <img [src]="item.image" [alt]="item.name" class="bags-image" />
      </div>
      
      <!-- Informations sur l'article -->
      <div class="card-body">
        <h3 class="bags-name">{{ item.name }}</h3>
        <p class="bags-price">{{ item.price }} DT</p>
      </div>
      
      <!-- Boutons -->
      <div class="card-footer">
        <button class="select-button" 
      [ngClass]="{ 'selected': item.selected }"
      (click)="toggleSelectItem(item)">
      {{ item.selected ? 'Sélectionné' : 'Sélectionner' }}
    </button>
    <button class="order-button" (click)="orderItem(item)">Commander</button>
      </div>
    </div>
  </div>
   
  